{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block topbar %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block body %}
	<div class="col-12 d-flex align-items-center justify-content-center">
		<div class="col-md-4 col-10 box-shadow-2 p-0">
			<div class="card border-grey border-lighten-3 m-0">
				<div class="card-header border-0">
					<div class="card-title text-center">
						<img src="../../../app-assets/images/logo/logo-dark.png" alt="branding logo">
					</div>
					<h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
						<span>Login with Robust</span>
					</h6>
				</div>
				<div class="card-content">
					<div class="card-body">
						<form class="form-horizontal" action="" method="POST">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}
							<fieldset class="form-group position-relative has-icon-left">
								<input type="text" class="form-control input-lg" name="username" id="user-name" placeholder="Your Username" tabindex="1" required="" data-validation-required-message="Please enter your username.">
								<div class="form-control-position">
									<i class="ft-user"></i>
								</div>
								<div class="help-block font-small-3"></div>
							</fieldset>
							<fieldset class="form-group position-relative has-icon-left">
								<input type="password" class="form-control input-lg" name="password" id="password" placeholder="Enter Password" tabindex="2" required="" data-validation-required-message="Please enter valid passwords.">
								<div class="form-control-position">
									<i class="fa fa-key"></i>
								</div>
								<div class="help-block font-small-3"></div>
							</fieldset>
							<div class="form-group row">
								<div class="col-md-6 col-12 text-center text-md-left">
									<fieldset>
										<div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="remember-me" class="chk-remember" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
										</div>
										<label for="remember-me">
											Remember Me</label>
									</fieldset>
								</div>
								<div class="col-md-6 col-12 text-center text-md-right">
									<a href="recover-password.html" class="card-link">Forgot Password?</a>
								</div>
							</div>
							<button type="submit" class="btn btn-danger btn-block btn-lg">
								<i class="ft-unlock"></i>
								Login</button>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						</form>
					</div>
				</div>
				<div class="card-footer border-0">
					<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
						<span>New to Robust ?</span>
					</p>
					<a href="{{path('clients_new')}}" class="btn btn-info btn-block btn-lg mt-3">
						<i class="ft-user"></i>
						Register</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
	<script >
		$('body').removeAttr('data-col').attr('data-col','1-column').removeClass('2-columns').addClass('1-column');
	</script>
{% endblock %}
