{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}


{#{{ form_label(form.object) }}
                                        {{ form_widget(form.object  , {'attr' : {'class' : 'form-control'}}
                                        ) }}#}