{% extends 'base.html.twig' %}

{% block title %}Notification index{% endblock %}

{% block body %}
<div class="content-body">
    <h1>Notification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Details</th>
                <th>CreatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr>
                <td>{{ notification.id }}</td>
                <td>{{ notification.title }}</td>
                <td>{{ notification.details }}</td>
                <td>{{ notification.CreatedDate ? notification.CreatedDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('notification_show', {'id': notification.id}) }}">show</a>
                    <a href="{{ path('notification_edit', {'id': notification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notification_new') }}">Create new</a>
    </div>
{% endblock %}
