{% extends 'base.html.twig' %}

{% block title %}New Notification{% endblock %}

{% block body %}
    <h1>Create new Notification</h1>
<div class="card">
<div class="card-body">
    {{ include('notification/_form.html.twig') }}
</div>
</div>
    <a href="{{ path('notification_index') }}">back to list</a>
{% endblock %}
