{% extends 'base.html.twig' %}
{% block body %}
	<div
		class="content-body">
		<!-- CRM stats -->
		<div class="row">
			<div class="col-xl-4 col-lg-6 col-md-12">
				<div class="card">
					<div class="card-content">
						<div class="card-body text-center">
							<div class="card-header mb-2">
								<span class="success darken-1">Mon solde</span>
								<h3 class="font-large-2 grey darken-1 text-bold-200">${{ solde }}</h3>
							</div>
							<div class="card-content">

								<ul class="list-inline clearfix mt-2 mb-0">
									<li class="border-right-grey border-right-lighten-2 pr-2">
										<h2 class="grey darken-1 text-bold-400">500 $</h2>
										<span class="success">Mon pack</span>
									</li>
									<li class="pl-2">
										<h2 class="grey darken-1 text-bold-400">50$</h2>
										<span class="danger">Gains hebdo</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-4 col-lg-12 col-md-12">
				<div class="card">
					<div class="card-content">
						<div class="card-body">
							<div class="media">
								<div class="media-body text-left">
									<h3 class="success">2,780 $</h3>
									<span>Retrait total</span>
								</div>
								<div class="media-right media-middle">
									<i class="ft-award success font-large-2 float-right"></i>
								</div>
							</div>
							{#                            <div class="progress mt-1 mb-0" style="height: 7px;">#}
						{#                                <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>#}
							{#                            </div>#}
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<div class="card-body">
							<div class="media">
								<div class="media-body text-left">
									<h3 class="deep-orange">2,780 $</h3>
									<span>Total pack acheté</span>
								</div>
								<div class="media-right media-middle">
									<i class="ft-package deep-orange font-large-2 float-right"></i>
								</div>
							</div>
							{#                            <div class="progress mt-1 mb-0" style="height: 7px;">#}
						{#                                <div class="progress-bar bg-deep-orange" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>#}
							{#                            </div>#}
						</div>
					</div>
				</div>

			</div>

            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card bg-twitter white">
                        <div class="card-content p-2">
                            <div class="card-body">
                                <div class="text-center mb-1">
                                    <i class="ft-bell font-large-1"></i>
                                </div>
                                <div>
                                    {% if notifications is not empty %}
                                    <marquee behavior="" direction="left">
                                        <small>{{ notifications[0].details|raw }}</small>
                                    </marquee>
                                        {% else %}
                                        <p class="text-center"><b>Pas de notification</b></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

			<div class="col-xl-12 col-lg-12">
				<div class="card">
					<div class="card-header no-border">
						<h4 class="card-title">Mes Transaction
							<span class="text-muted text-bold-400">- 5 Recent</span>
						</h4>
						<a class="heading-elements-toggle">
							<i class="ft-more-horizontal font-medium-3"></i>
						</a>
						<div class="heading-elements">
							<ul class="list-inline mb-0">
								<li>
									<a data-action="reload">
										<i class="ft-rotate-cw"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="card-content">
						<div id="deals-list-scroll" class="card-body height-350 position-relative ps-container ps-theme-default" data-ps-id="12a870be-51be-6ebe-ed65-6c7a14db0721">
							<div class="media">
								<div class="media-left pr-2">
									<i class="fas fa-plus-circle"></i>
								</div>
								<div class="media-body">
									<p class="text-bold-600 m-0">ABC Inc. deal title
										<span class="float-right badge badge-success">Won</span>
									</p>
									<p class="font-small-2 text-muted m-0">$122,000.88<i class="ft-calendar pl-1"></i>
										Yesterday</p>
								</div>
							</div>

							<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
								<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
							</div>
							<div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
								<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link crossorigin="anonymous" rel="stylesheet" type="text/css" href=" {{ asset('probust/vendors/css/extensions/unslider.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('probust/vendors/js/extensions/unslider-min.js') }}"></script>

{% endblock %}
