{% extends 'base.html.twig' %}

{% block title %}Hello TsltpswdController!
{% endblock %}

{% block body %}
	<div class="row  justify-content-md-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-card-center">Mot de passe de la transaction</h4>
					<a class="heading-elements-toggle">
						<i class="fa fa-ellipsis-v font-medium-3"></i>
					</a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li>
								<a data-action="collapse">
									<i class="ft-minus"></i>
								</a>
							</li>
							<li>
								<a data-action="reload">
									<i class="ft-rotate-cw"></i>
								</a>
							</li>
							<li>
								<a data-action="expand">
									<i class="ft-maximize"></i>
								</a>
							</li>
							<li>
								<a data-action="close">
									<i class="ft-x"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form class="form" method="POST">
							<div class="form-body">


								<div class="form-group">
									<label>Entrez votre mot de passe de la translation</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="fa fa-key"></i>
											</span>
										</div>
										<input type="password" class="form-control" name="transpassword" placeholder="Enter password">

									</div>
								</div>

								<div class="form-group">
									<label>Confirmez votre mot de passe de la transaction</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="fa fa-key"></i>
											</span>
										</div>
										<input type="password" class="form-control" name="confirmtranspassword" placeholder="Confirm password">

									</div>
								</div>

								<div class="form-actions center">
									<button type="reset" class="btn btn-warning mr-1">
										<i class="ft-x"></i>
										Cancel
									</button>
									<button type="submit" class="btn btn-primary">
										<i class="ft-check"></i>
										Submit
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
