/*================================================================================
	Item Name: Robust - Responsive Admin Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.loginLogo{
    height: 50px;
}
.nav-item .has-sub ::after{
    content: 'f054';
}

.nav-item .has-sub .open ::after{
    content: 'f078';
}
.main-menu{
    /*background: #00c7e8 !important;*/
}
.gridbox {
    width: 100%;
    height: 500px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: #ffffff;
    padding: 10px;
    display: flex;

}

.flexit {
    display: flex;
    justify-content: center;
}

.flexit > td:first-child {
    margin-right: 10px;
}

.downline {
    background-color: #00A0E9;
    margin: 0px auto;
    height: 20px;
    width: 2px;
    float: none;
}

td.topline {
    border-top: 2px solid #00A0E9;
}

.box {
    width: 150px;
    display: inline-block;
    position: relative;
    margin: 0;
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
}

.box-head {
    padding: 0px 5px;
    width: 100%;
    background-color: deepskyblue;
    text-align: center;
    font-size: 17px
}

.clientname {
    font-weight: bolder;
    margin-bottom: 10px;
}

.box-username {
    cursor: pointer;
    font-weight: bolder;
}

.box-body {
    border: 1px deepskyblue solid;
    color: deepskyblue;
    text-align: center;
}
