<nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-semi-dark navbar-shadow">
	<div class="navbar-wrapper">
		<div class="navbar-header">
			<ul class="nav navbar-nav flex-row">
				<li class="nav-item mobile-menu d-md-none mr-auto">
					<a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
						<i class="ft-menu font-large-1"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="navbar-brand" href="#"><img class="brand-logo" alt="robust admin logo" src="{{ asset('probust/app-assets/images/logo/logo-light-sm.png') }}">
						<h3 class="brand-text">Robust Admin</h3>
					</a>
				</li>
				<li class="nav-item d-md-none">
					<a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile">
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="navbar-container content">
			<div class="collapse navbar-collapse" id="navbar-mobile">
				<ul class="nav navbar-nav mr-auto float-left">
					<li class="nav-item d-none d-md-block">
						<a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
							<i class="ft-menu"></i>
						</a>
					</li>

				</ul>
				<ul class="nav navbar-nav float-right">
					{#                    <li class="dropdown dropdown-language nav-item"><a class="dropdown-toggle nav-link" id="dropdown-flag" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag-icon flag-icon-gb"></i><span>English</span><span class="selected-language"></span></a>#}
					{#                        <div class="dropdown-menu" aria-labelledby="dropdown-flag"><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-gb"></i> English</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-cn"></i> Chinese</a><a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> German</a></div>#}
					{#                    </li>#}


						<li class="dropdown dropdown-user nav-item"> <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
							<span class="avatar avatar-online"><img src="{{ asset('probust/images/portrait/small/avatar-s-1.png') }}" alt="avatar"><i></i>
							</span>
							<span class="user-name">John Doe</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">
								<i class="ft-user"></i>
								Edit Profile</a>
							<a class="dropdown-item" href="#">
								<i class="ft-lock"></i>
								Transaction password
							</a>

							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ path('app_logout') }}">
								<i class="ft-power"></i>
								Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
