{% extends 'base.html.twig' %}

{% block title %}Pack index{% endblock %}

{% block body %}
    <h3>Nos Packs</h3>

    <div class="row">
        {% for pack in packs %}
            <div class="col-xl-4 col-md-6 col-12">
                <div class="card profile-card-with-cover">
                    <div class="card-content card-deck text-center">
                        <div class="card box-shadow">
                            <div class="card-header pb-0">
                                <h2 class="my-0 font-weight-bold">{{ pack.title }}</h2>
                            </div>
                            <div class="card-body">
                                <h1 class="pricing-card-title">${{ pack.price }} </h1>
                                <ul class="list-unstyled mt-2 mb-2">
                                    <li>
                                        <small class="text-muted">
                                            {% set hebdo= pack.price/10 %}
                                            Vous gagnez {{ hebdo }}$ hebdomadaire
                                        </small>
                                    </li>
                                    <li>{{ pack.description }}</li>

                                </ul>
                                {% if is_granted('ROLE_CLIENT') %}
                                    <button type="button" class="btn btn-lg btn-block btn-info">Buy Pack</button>
                                {% else %}
                                    <a class="btn btn-lg btn-block btn-info" href="{{ path('pack_edit', {'id': pack.id}) }}">Modifier</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('pack_new') }}">Cree un pack</a>
{% endblock %}
