{% extends 'base.html.twig' %}

{% block title %}New Pack{% endblock %}

{% block body %}
    <h1>Create new Pack</h1>
<div class="card">
<div class="card-body">
    {{ include('pack/_form.html.twig') }}
    </div>
        </div>

    <a href="{{ path('pack_index') }}">back to list</a>
{% endblock %}
