{% extends 'base.html.twig' %}

{% block title %}Pack{% endblock %}

{% block body %}
    <h1>Pack</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pack.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ pack.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pack.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ pack.price }}</td>
            </tr>
            <tr>
                <th>CreatedDate</th>
                <td>{{ pack.CreatedDate ? pack.CreatedDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pack_index') }}">back to list</a>

    <a href="{{ path('pack_edit', {'id': pack.id}) }}">edit</a>

    {{ include('pack/_delete_form.html.twig') }}
{% endblock %}
