<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}login!
			{% endblock %}
		</title>
		{% block stylesheets %}


			<link rel="apple-touch-icon" href="{{ asset('probust/app-assets/images/ico/apple-icon-120.png')}}">
			<link rel="shortcut icon" type="image/x-icon" href="https://pixinvent.com/bootstrap-admin-template/robust/app-assets/images/ico/favicon.ico">
			<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700" rel="stylesheet">
			<!-- BEGIN VENDOR CSS-->
			<link rel="stylesheet" type="text/css" href="{{ asset('probust/app-assets/css/vendors.min.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ asset('probust/app-assets/vendors/css/forms/icheck/icheck.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ asset('probust/app-assets/vendors/css/forms/icheck/custom.css')}}">
			<!-- END VENDOR CSS-->
			<!-- BEGIN ROBUST CSS-->
			<link rel="stylesheet" type="text/css" href="{{ asset('probust/app-assets/css/app.min.css')}}"> <!-- END ROBUST CSS-->
			<!-- BEGIN Page Level CSS-->
			<link rel="stylesheet" type="text/css" href="{{ asset('probust/app-assets/css/core/menu/menu-types/vertical-menu.min.css')}}"> <link rel="stylesheet" type="text/css" href="{{ asset('probust/app-assets/css/core/colors/palette-gradient.min.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ asset('probust/app-assets/css/pages/login-register.min.css')}}">
			<!-- END Page Level CSS-->
			<!-- BEGIN Custom CSS-->
		<link
			rel="stylesheet" type="text/css" href="{{ asset('probust/assets/css/style.css')}}"> <!-- END Custom CSS-->
		{% endblock %}
	</head>

	{% block topbar %}{% endblock %}
	{% block sidebar %}{% endblock %}

	{% block body %}{% endblock %}


	{% block javascripts %}
		<!-- BEGIN VENDOR JS-->
		<script src=" {{asset('probust/app-assets/vendors/js/vendors.min.js')}}"></script>
		<!-- BEGIN VENDOR JS-->
		<!-- BEGIN PAGE VENDOR JS-->
		<script src="{{asset('probust/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js')}}"></script>
		<script src="{{asset('probust/app-assets/vendors/js/forms/icheck/icheck.min.js')}}"></script>
		<!-- END PAGE VENDOR JS-->
		<!-- BEGIN ROBUST JS-->
		<script src="{{asset('probust/app-assets/js/core/app-menu.min.js')}}"></script>
		<script src="{{asset('probust/app-assets/js/core/app.min.j')}}s"></script>
		<script src="{{asset('probust/app-assets/js/scripts/customizer.min.js')}}"></script>
		<!-- END ROBUST JS-->
		<!-- BEGIN PAGE LEVEL JS-->
		<script src="{{asset('probust/app-assets/js/scripts/forms/form-login-register.min.js')}}"></script>
		<!-- END PAGE LEVEL JS-->
	{% endblock %}
</html></body></html>
