<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Hello !
        {% endblock %}
    </title>
    {% block stylesheets %}
        {#        <link crossorigin="anonymous" rel="apple-touch-icon" href="{{ asset('probust/app-assets/images/ico/apple-icon-120.png') }}">#}
        {#        <link crossorigin="anonymous" rel="apple-touch-icon" href="{{ asset('probust/images/ico/apple-icon-120.png') }}">#}
        {#        <link crossorigin="anonymous" rel="shortcut icon" type="image/x-icon"#}
        {#              href="{{ asset('probust/images/favicon/favicon.ico') }}">#}
        <link crossorigin="anonymous"
              href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CMuli:300,400,500,700"
              rel="stylesheet">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/css/vendors.min.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/vendors//css/charts/jquery-jvectormap-2.0.3.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/vendors/css/charts/morris.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/vendors/css/extensions/unslider.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/vendors/css/weather-icons/climacons.min.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="{{ asset('probust/css/app.min.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/css/core/menu/menu-types/vertical-menu.min.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/css/core/colors/palette-gradient.min.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/css/core/colors/palette-gradient.min.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/css/plugins/calendars/clndr.min.css') }}">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css"
              href="{{ asset('probust/fonts/meteocons/style.min.css') }}">
        <link crossorigin="anonymous" href="{{ asset('probust/css/all.min.css') }}" rel="stylesheet">
        <link crossorigin="anonymous" rel="stylesheet" type="text/css" href="{{ asset('probust/css/style.css') }}">
    {% endblock %}
</head>
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
      data-menu="vertical-menu" data-col="2-columns">

{% block topbar %}
    {% include "blocks/topbar.html.twig" %}
{% endblock %}
{% block sidebar %}
    {% include "blocks/sidebar.html.twig" %}
{% endblock %}

<div class="app-content content">
    {% block errospan %}
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <i class="fa fa-exclamation fa-fw"></i><strong>{{ message|raw }}</strong>
            </div>

        {% endfor %}

        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <i class="fa fa-check-circle fa-fw"></i> {{ message|raw }}
            </div>
        {% endfor %}
    {% endblock %}
    <div class="content-wrapper"> {% block body %}{% endblock %}
    </div>
</div>
{% block footer %}
    {% include "blocks/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('probust/vendors/js/vendors.min.js') }}"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="{{ asset('probust/vendors/js/extensions/moment.min.js') }}"></script>
    <script src="{{ asset('probust/vendors/js/extensions/underscore-min.js') }}"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="{{ asset('probust/js/core/app-menu.min.js') }}"></script>
    <script src="{{ asset('probust/js/core/app.min.js') }}"></script>
{% endblock %}
</body>
</html>
