{% extends 'base.html.twig' %}

{% block title %}Solde des clients{% endblock %}

{% block body %}
    <div class="card">
        <h1>Solde des clients </h1>

        <table class="table">
            <thead>
            <tr>
                <th>Prenom</th>
                <th>Noms</th>
                <th>Solde</th>
            </tr>
            </thead>
            <tbody>
            {% for commission in clientCommission %}
                <tr>

                    <td>{{ commission.clients.firstname }}</td>
                    <td>{{ commission.clients.lastname }}</td>
                    <td><h3>{{ commission.solde }}$</h3></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#    <a href="{{ path('clients_new') }}">Create new</a>#}
{% endblock %}
