{% extends 'base.html.twig' %}

{% block title %}Les Clients{% endblock %}

{% block body %}
    <div class="card">
        <h1>Liste des clients </h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Telephone</th>
                <th>Address</th>
                <th>CreatedDate</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.firstname }}</td>
                    <td>{{ client.lastname }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.CreatedDate ? client.CreatedDate|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('clients_show', {'id': client.id}) }}">show</a>
                        <a href="{{ path('clients_edit', {'id': client.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {#    <a href="{{ path('clients_new') }}">Create new</a>#}
{% endblock %}
