{% extends 'base.html.twig' %}

{% block title %}New Clients
{% endblock %}
{% block topbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}


    {#{{ include('clients/_form.html.twig') }}#}
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="col-md-4 col-10 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header border-0">

                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                        <span>Formulaire d'inscription</span>
                    </h6>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control input-lg" name="username" password="password"
                                   id="user-name" placeholder="Your Username" tabindex="1" required=""
                                   data-validation-required-message="Please enter your username.">
                            <div class="form-control-position">
                                <i class="ft-user"></i>
                            </div>
                            <div class="help-block font-small-3"></div>
                        </fieldset>

                        <fieldset class="form-group position-relative has-icon-left">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname  , {'attr' : {'class' : 'form-control'}}
                            ) }}
                            <div class="form-control-position">
                                <i class="ft-user"></i>
                            </div>
                            <div class="help-block font-small-3"></div>
                        </fieldset>


                        <fieldset class="form-group position-relative has-icon-left">
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname  , {'attr' : {'class' : 'form-control'}}
                            ) }}

                            <div class="form-control-position">
                                <i class="ft-user"></i>
                            </div>
                            <div class="help-block font-small-3"></div>
                        </fieldset>
                        <fieldset class="form-group position-relative has-icon-left">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email  , {'attr' : {'class' : 'form-control'}}
                            ) }}
                        </fieldset>

                        <fieldset class="form-group position-relative has-icon-left">
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address  , {'attr' : {'class' : 'form-control'}}
                            ) }}
                        </fieldset>
                        <fieldset class="form-group position-relative has-icon-left">
                            {{ form_label(form.telephone) }}
                            {{ form_widget(form.telephone  , {'attr' : {'class' : 'form-control'}}
                            ) }}

                            <div class="form-control-position">
                                <i class="ft-phone"></i></div>
                            <div class="help-block font-small-3"></div>
                        </fieldset>


                        <div class="form-group row">
                            <div class="col-md-6 col-12 text-center text-md-left"></div>
                            <button type="submit" class="btn btn-danger btn-block btn-lg">
                                <i class="ft-user"></i>
                                Register Now
                            </button>
                            {{ form_end(form) }}

                        </div>
                    </div>
                    <div class="card-footer border-0">
                        <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                            <span>Already have an account?</span>
                            <a href="{{ path('clients_index') }}">back to list</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('body').removeAttr('data-col').attr('data-col', '1-column').removeClass('2-columns').addClass('1-column');
    </script>
{% endblock %}